h1,
h2,
h3,
p,
button {
  margin: 0;
  text-shadow: -1px 2px 0 rgba(0, 0, 0, 0.3);
}
p {
  font-size: 2.7vh;
}

body {
  background: #eeeeee;
}
header {
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
section {
  height: 100vh;
}
section {
  background: url(/img/bg.jpg);
  background-size: cover;
  background-position: right;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
main p {
  color: #eeeeee;
}
main hr {
  border-color: #eeeeee;
}

hr {
  border-top: 3px solid #1a1a1a;
  width: 35vh;
  margin-left: 0;
  box-shadow: -1px 2px 0 rgba(0, 0, 0, 0.3);
}

.btn {
  width: 20vh !important;
  font-size: 3vh;
}

#quality {
  background: url(/img/pattern.jpg);
  background-size: cover;
  background-position: center;
  color: #eeeeee;
}

#quality,
#servizi,
#salone,
#team,
#gallery,
#prima-dopo,
#contatti {
  padding: 50px 0;
}

#salone {
  background: #1a1a1a;
}
#salone hr,
#gallery hr,
#team hr {
  border-color: #eeeeee;
}

i {
  color: #eeeeee;
  font-size: 5vh;
}

h1 {
  color: #eeeeee;
  font-size: 6vh;
}
h2 {
  color: #eeeeee;
}

.service_container {
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 18vh;
  margin: 1.5rem 0;
}
.quality_container {
  border-radius: 0.25rem;
  margin: 1rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quality_container p {
  font-weight: 500;
}
.nails {
  background: url(img/nails.jpg);
  background-size: cover;
}
.base {
  background: url(img/estetica-base.jpg);
  background-size: cover;
}
.avanzata {
  background: url(img/estetica-avanzata.jpg);
  background-size: cover;
}
h3 {
  color: #eeeeee;
  font-size: 5vh;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 80%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.pattern-diagonal-stripes-md {
  height: 70px;
  width: 100%;
}

button a:hover {
  color: inherit;
}

#servizi {
  background: url(/img/bg-salon.jpg);
  background-size: cover;
  background-position: center;
}
#salone {
  background: url(/img/servizi.jpg);
  background-size: cover;
  background-position: center;
}
#team {
  background: #979799;
  background-size: cover;
  background-position: center;
}
#gallery {
  background: url(/img/bg-gallery.jpg);
  background-size: cover;
  background-position: center;
}
#prima-dopo {
  background: url(/img/bg-2.jpg);
  background-size: cover;
  background-position: center;
}
#contatti {
  background: url(/img/maps.jpg);
  background-size: cover;
  background-position: center;
}
#salone p,
#team p {
  color: #eeeeee;
}
#gallery p,
#gallery h2 {
  color: #eeeeee;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  box-shadow: -1px 2px 0 rgba(0, 0, 0, 0.3);
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#contatti h3 {
  color: #eeeeee;
  font-size: 2vh;
}

#info {
  background: #979799;
}
p#social {
  color: #eeeeee;
  margin-top: 1rem;
}
#social i {
  font-size: 4vh;
  margin-left: 0.2rem;
}

button {
  box-shadow: -1px 2px 0 rgba(0, 0, 0, 0.3);
}
img:not(".header") {
  box-shadow: -1px 2px 0 rgba(0, 0, 0, 0.3);
}

a {
  color: #eeeeee;
}
a:hover {
  color: #007bff;
}

footer {
  background: #eeeeee;
}
footer p {
  text-shadow: none;
  font-size: 1rem;
}
footer hr {
  box-shadow: none;
  border-width: 1px;
  margin: 1rem auto;
  width: 20%;
}
footer a {
  color: #1a1a1a;
  font-size: 0.8rem;
}
footer a:hover {
  color: #1a1a1a;
}
